.project__header {
  display: flex;
  margin-bottom: 15px;
}
.project__header button {
  padding: 5px 2px;
  border-bottom: 2px solid transparent;
  margin-right: 20px;
}
.project__header .add {
  margin-left: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.project__header button.active {
  border-bottom-color: #fd8b51;
}
.tasks__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

/* tasks component */
.tasks__list {
  padding: 10px 15px;
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px #f7f6f4;
}
.tasks__list li:last-of-type {
  margin-bottom: 0;
}
.tasks__high {
  background: #ff7782;
  color: #ffebf3;
}
.tasks__medium {
  background: #45bfff;
  color: #f5fcff;
}
.tasks__low {
  background: #717eee;
  color: #eef6ff;
}
.tasks__head,
.tasks__foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tasks__name {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
}
.tasks__description {
  line-height: 1.2;
  margin: 2px 0 15px;
}
.tasks__foot {
  margin-top: auto;
}
.tasks__users .avatar {
  width: 25px;
  height: 25px;
}
.tasks__users li {
  margin-left: -8px;
  list-style: none;
}
.tasks__users li:first-of-type {
  margin: 0;
}
.tasks__users {
  display: flex;
  align-items: center;
}

/* comments component */
.comments li {
  list-style: none;
  background: #fff;
  color: #4e5157;
  padding: 15px;
  /* border: 2px solid #fff; */
}
.comments li:nth-child(even) {
  background: #fafafa;
}
.comments li:last-of-type {
  margin-bottom: 15px;
}
.comment__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.comment__head h5 {
  margin: 0 10px 0 15px;
}
.comment__head small {
  margin-right: auto;
}
.comments form {
  display: flex;
  align-items: center;
}
.comments label {
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.comments textarea {
  resize: none;
  outline: none;
  border: none;
  display: block;
  height: 100%;
  width: 100%;
  flex: 1;
}

/* dark mode */
.project.dark .project__header button {
  color: #85878a;
}
.project.dark .tasks__list {
  box-shadow: none;
}
