.project__header {
  display: flex;
  margin-bottom: 15px;
}
.project__header button {
  padding: 5px 2px;
  border-bottom: 2px solid transparent;
  margin-right: 20px;
}
.project__header .add {
  margin-left: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.project__header button.active {
  border-bottom-color: #fd8b51;
}

/* tasks component */
.tasks__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.tasks__list {
  padding: 10px 15px;
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1em 3em rgba(156, 136, 255, 0.2);
  position: relative;
}
.tasks__list li:last-of-type {
  margin-bottom: 0;
}
.tasks__list .fi,
.popup .fi {
  font-size: 18px;
}
.tasks__high {
  background: #ff7782;
  color: #ffebf3;
}
.tasks__medium {
  background: #45bfff;
  color: #f5fcff;
}
.tasks__low {
  background: #717eee;
  color: #eef6ff;
}
.tasks__head,
.tasks__foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button.more {
  color: #fff;
}
.popup {
  box-shadow: 0 1em 3em rgba(156, 136, 255, 0.2);
  border-radius: 5px;
  position: absolute;
  top: 40px;
  right: 20px;
  background: #fff;
}
.popup li {
  list-style: none;
}
.popup li:hover {
  list-style: none;
  background: #f7f6f4;
  border-radius: 5px;
}
.popup li:first-of-type {
  list-style: none;
  border-bottom: 1px solid #f3f3f3;
}
.popup button {
  padding: 10px;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup button.mark {
  color: #60b158;
}
.popup button.mark i {
  margin-left: 10px;
}
.popup button.delete {
  color: #fd413c;
}
.tasks__name {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
}
.tasks__description {
  line-height: 1.2;
  margin: 5px 0 15px;
}
.tasks__foot {
  margin-top: auto;
}
.tasks__users .avatar {
  width: 25px;
  height: 25px;
}
.tasks__users li {
  margin-left: -8px;
  list-style: none;
}
.tasks__users li:first-of-type {
  margin: 0;
}
.tasks__users {
  display: flex;
  align-items: center;
}
.tasks__list i.checked {
  color: #60b158;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -7px;
  right: -7px;
}

/* comments component */
.comments li {
  list-style: none;
  background: #fff;
  color: #4e5157;
  padding: 15px;
  border: 1px solid #f7f6f4;
  border-bottom: none;
}
.comments li:last-of-type {
  border: 1px solid #f7f6f4;
}
.comments li:nth-child(even) {
  background: #fafafa;
}
.comments li:last-of-type {
  margin-bottom: 15px;
}
.comment__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.comment__head h5 {
  margin: 0 10px 0 15px;
}
.comment__head small {
  margin-right: auto;
}
.comments form {
  display: flex;
  align-items: center;
}
.comments form .avatar {
  margin-right: 10px;
}
.comments label {
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex: 1;
  padding: 2px;
}
.comments textarea {
  resize: none;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  flex: 1;
  padding: 2px 5px;
}
.send {
  background: #fd8b51;
  padding: 0 10px;
  color: #fff;
  border-radius: 5px;
}
.send:focus {
  outline-color: #f7f6f4;
}
.send i {
  display: inline-block;
  margin-bottom: -10px;
}

/* dark mode */
.project.dark .popup {
  box-shadow: none;
  background: #2b2f33;
}
.project.dark .popup li:hover {
  background: #4b5563;
}
.project.dark .popup li:first-of-type {
  border-bottom-color: #4b5563;
}
.project.dark .project__header button {
  color: #85878a;
}
.project.dark .tasks__list {
  box-shadow: none;
}
.comments.dark li {
  background: #2b2f33;
  color: #fff;
  border-color: #4b5563;
}
.comments.dark li:nth-child(even) {
  background: #3e4246;
}
.comments.dark label,
.comments.dark textarea {
  background: #2b2f33;
  color: #ffff;
}
.comments.dark textarea::placeholder {
  color: #ffff;
}
.send.dark:focus {
  outline-color: #4b5563;
}
.send.dark {
  background: #fd413c;
}

@media (max-width: 500px) {
  .comments .avatar {
    margin-right: 10px;
    width: 35px;
    height: 35px;
  }
}
