.project__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.project__header button {
  padding: 5px 2px;
  border-bottom: 2px solid transparent;
  margin-right: 20px;
}
.project__header .add {
  margin-left: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.project__header button.active {
  border-bottom-color: #fd8b51;
}

/* dark mode */
.project.dark .project__info {
  background: #2b2f33;
}
.project.dark .card__users li {
  background: #212529;
  color: #85878a;
  border: 1px solid #4b5563;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
}
.project.dark .project__header button {
  color: #85878a;
}
