.dashboard__grid,
.projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.dashboard__card,
.projects__card {
  display: block;
  background: #fff;
  border: 1px solid #fff;
  padding: 15px;
  text-decoration: none;
  color: #4e5157;
  border-radius: 1rem;
  margin-bottom: 15px;
  box-shadow: 5px 5px 15px #f7f6f4;
}
.card__head,
.projects__head {
  margin-bottom: 20px;
}
.card__head,
.card__status,
.projects__head,
.projects__name,
.card__foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__name h2,
.projects__name h2 {
  color: #303648;
  line-height: 1.2;
  font-size: 1.5rem;
}
.card__name p,
.card__progress p {
  color: #a0a3b0;
  line-height: 1.1;
}
.card__status {
  margin-bottom: 15px;
}
.card__status span,
.msg {
  text-transform: uppercase;
  font-weight: 500;
}
.card__progress {
  margin-bottom: 20px;
}
.card__progress p {
  margin-bottom: 15px;
  font-weight: 500;
}
.progress__bar {
  height: 5px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 20px;
}
.progress__high {
  background: #f1e5e6;
}
.progress__medium {
  background: #fff4e3;
}
.progress__low {
  background: #e8eaf2;
}
.bar {
  height: 100%;
  width: 75%;
  border-radius: 20px;
}
.bar__high {
  background: #ff7782;
}
.bar__medium {
  background: #ffbb55;
}
.bar__low {
  background: #717eee;
}
.card__category span {
  display: inline-block;
  margin: 2px 10px 2px 0;
  padding: 5px 15px;
  background: #fff;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
}
.category.website,
.category.uiux {
  background: #edf1ff;
  color: #2c5bff;
}
.category.ios,
.category.marketing {
  color: #fd7b38;
  background: #fff3ed;
}
.category.branding,
.category.sales {
  color: #7078ba;
  background: #d7dbfd;
}
.category.andriod {
  color: #60b158;
  background: #e7f4e6;
}
.card__users {
  display: flex;
  margin: 15px 0;
  list-style: none;
}
.card__users li {
  margin-left: -8px;
}
.card__users .avatar {
  width: 30px;
  height: 30px;
}
.card__users li:first-of-type {
  margin-left: 0;
}
/* __________dark mode__________ */
.dashboard.dark .dashboard__card,
.projects.dark .projects__card {
  background: #2b2f33;
  border-color: #4b5563;
  box-shadow: none;
}
.dashboard.dark .card__name h2,
.projects.dark .projects__name h2 {
  color: #fff;
}
.dashboard.dark .progress__bar {
  background: #3e4246;
}
.bar__high.dark {
  background: #fd413c;
}
.bar__medium {
  background: #ffbb55;
}
.bar__low {
  background: #717eee;
}
.category.dark.website,
.category.dark.uiux {
  color: #2c5bff;
  background: #273647;
}
.category.dark.ios,
.category.dark.marketing {
  color: #f7423d;
  background: #403034;
}
.category.dark.branding,
.category.dark.sales {
  color: #cd9d2d;
  background: #403d32;
}
.category.dark.andriod {
  color: #60b158;
  background: #313c37;
}

@media (max-width: 1200px) {
  .dashboard__card,
  .projects__card {
    padding: 15px 10px;
  }
  .md-none {
    display: none;
  }
}
@media (max-width: 1000px) {
  .dashboard__grid,
  .projects__grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .dashboard__card,
  .projects__card {
    padding: 30px;
  }
  .md-none {
    display: initial;
  }
}
@media (max-width: 500px) {
  .dashboard__grid,
  .projects__grid {
    gap: 15px;
  }
  .dashboard__card,
  .projects__card {
    padding: 15px;
  }
}
