.dashboard__grid,
.projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.dashboard__card,
.projects__card,
.calender__card {
  display: block;
  background: #fff;
  border: 1px solid #fff;
  padding: 15px;
  text-decoration: none;
  color: #4e5157;
  border-radius: 1rem;
  margin-bottom: 15px;
  box-shadow: 0 1em 3em rgba(156, 136, 255, 0.2);
}
.card__head,
.projects__head {
  margin-bottom: 20px;
}
.card__head {
  display: flex;
  align-items: center;
}
.card__logo {
  background: #fff3ed;
  border-radius: 10px;
  padding: 7px 7px 2px 7px;
  margin-right: 10px;
}
.card__status,
.projects__head,
.projects__name,
.card__foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__name {
  flex: 1;
}
.card__name h2,
.projects__name h2 {
  color: #303648;
  line-height: 1.2;
  font-size: 1.5rem;
}
.card__name p,
.card__progress p {
  color: #a0a3b0;
  line-height: 1.1;
}
.card__option .fi-br-menu-dots-vertical {
  font-size: 18px;
}
.card__status {
  margin-bottom: 20px;
}
.card__status span,
.msg {
  text-transform: uppercase;
  font-weight: 500;
}
.category {
  display: inline-block;
  margin: 2px 10px 2px 0;
  padding: 3px 9px;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
}
.andriod {
  color: #0acf83;
  background: #e7f4e6;
}
.ar,
.uiux,
.website {
  color: #2c5bff;
  background: #edf1ff;
}
.branding,
.sales {
  color: #7078ba;
  background: #d7dbfd;
}
.ios,
.graphics {
  color: #ff7262;
  background: #ffe3e0;
}
.iot {
  color: #9f7dd9;
  background: #f6f2fc;
}
.users__more {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #a0a3b0;
  font-weight: 600;
  width: 33px;
  height: 33px;
}
.card__users {
  display: flex;
  margin: 15px 0;
  list-style: none;
}
.card__users li,
.users__more {
  margin-left: -8px;
}
.card__users li:first-of-type {
  margin: 0;
}
.card__users .avatar {
  width: 30px;
  height: 30px;
}
.card__tasks {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 15px 0;
  box-shadow: 5px 5px 15px #f7f6f4;
  margin-bottom: 15px;
}
.card__tasks h3 {
  margin: 0 0 15px 15px;
  font-size: 1.2rem;
}
.card__tasks .taskLength {
  color: #a0a3b0;
  margin-left: 5px;
  font-size: 12px;
}
.card__tasks .taskLength span {
  font-size: 12px;
}
.card__tasks a {
  color: #414757;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #f0f2f7;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.card__tasks a:last-of-type {
  border: none;
}
.card__tasks small {
  margin-right: 15px;
  font-weight: 600;
}
.card__tasks p {
  flex: 1;
  font-weight: 600;
}

/* __________dark mode__________ */
.dashboard.dark .dashboard__card,
.dashboard.dark .calender__card,
.projects.dark .projects__card,
.dashboard.dark .card__tasks {
  background: #2b2f33;
  border-color: #4b5563;
  box-shadow: none;
}
.dashboard.dark .card__logo {
  background: #3c4247;
}
.dashboard.dark .card__name h2,
.projects.dark .projects__name h2 {
  color: #fff;
}
.card__category.dark span {
  background: transparent;
}
.andriod.dark {
  color: #0acf83;
  border-color: #0acf83;
}
.ar.dark,
.uiux.dark,
.website.dark {
  color: #2c5bff;
  border-color: #2c5bff;
}
.branding.dark,
.sales.dark {
  color: #7078ba;
  border-color: #7078ba;
}
.graphics.dark {
  color: #fd7b38;
  border-color: #fd7b38;
}
.ios.dark {
  color: #ff7262;
  border-color: #ff7262;
}
.iot.dark {
  color: #9f7dd9;
  border-color: #9f7dd9;
}
.users__more.dark {
  background: #212529;
}
.dashboard.dark .card__tasks a {
  color: #fff;
  border-color: #4b5563;
}

/* __________media query__________ */
@media (max-width: 1200px) {
  .dashboard__card,
  .projects__card {
    padding: 15px 10px;
  }
  .md-none {
    display: none;
  }
}
@media (max-width: 1000px) {
  .dashboard__grid,
  .projects__grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .dashboard__card,
  .projects__card {
    padding: 30px;
  }
  .md-none {
    display: initial;
  }
}
@media (max-width: 500px) {
  .dashboard__grid,
  .projects__grid {
    gap: 15px;
  }
  .dashboard__card,
  .projects__card {
    padding: 15px;
  }
}
