.custom-calendar {
  width: 100%;
  max-width: none;
  border: 1px solid #fff;
}
.Calendar__header {
  padding: 15px;
}
.Calendar__weekDays {
  padding: 0 5px;
}
.Calendar__weekDays,
.Calendar__section {
  padding: 0 2em;
}
.Calendar__day.-selected {
  background: #fd8b51;
}
.custom-today-day::after {
  visibility: hidden;
}

/* __________dark mode __________ */
.calender.dark .custom-calendar {
  box-shadow: none;
  background: #2b2f33;
  border-color: #4b5563;
}
.calender.dark .Calendar__header {
  background: #4b5563;
  margin-bottom: 10px;
}
.calender.dark .Calendar__day {
  color: #fff !important;
}
.calender.dark .Calendar__day.-selected {
  background: #f7423d;
}
.calender.dark
  .Calendar__day.-weekend:not(.-selected):not(.-blank):not(.-selectedStart):not(
    .-selectedEnd
  ):not(.-selectedBetween) {
  color: #f7423d !important;
}
