.custom-calendar {
  width: 100%;
  max-width: none;
  border: 1px solid #fff;
}
.custom-calendar * {
  font-weight: 500;
  font-size: 12px !important;
}
.Calendar {
  padding-top: 0 !important;
}
.Calendar__header {
  border-radius: 0.6rem 0.6rem 0 0;
}
.Calendar__monthYearContainer * {
  font-size: 1.4rem !important;
}
button.Calendar__monthArrowWrapper.-right,
button.Calendar__monthArrowWrapper.-left {
  padding: 5px;
  border-radius: 5px;
}
.Calendar__header div {
  padding: 15px;
}
.Calendar__weekDays {
  padding: 0 5px;
}
.Calendar__weekDays,
.Calendar__section {
  padding: 0 2em;
}
.Calendar__day.-selected {
  background: #fd8b51;
}
.custom-today-day::after {
  visibility: hidden;
}
.Calendar__sectionWrapper {
  min-height: 220px;
}

/* __________dark mode __________ */
.calender.dark .custom-calendar {
  box-shadow: none;
  background: #2b2f33;
  border-color: #4b5563;
}
.calender.dark button.Calendar__monthArrowWrapper.-right,
.calender.dark button.Calendar__monthArrowWrapper.-left {
  background: #4b5563;
}
.calender.dark .Calendar__monthYearContainer *,
.calender.dark .Calendar__day {
  color: #fff !important;
}
.calender.dark .Calendar__day {
  color: #fff !important;
}
.calender.dark
  .Calendar__day.-weekend:not(.-selected):not(.-blank):not(.-selectedStart):not(
    .-selectedEnd
  ):not(.-selectedBetween) {
  color: #f7423d !important;
}
