.layout {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.layout button {
  border: 1px solid #5f6365;
  border-radius: 7px;
  padding: 3px 7px 0 7px;
}
.layout button i {
  font-size: 18px;
}
.layout .list,
.layout .grid {
  background: #fff;
  border-color: #fff;
}
.layout .active {
  background: #fff3ed;
  border-color: #fd7b38;
  color: #fd7b38;
}
.layout .add {
  background: #fd7b38;
  border-color: #fd7b38;
}
.layout .add a {
  color: #fff;
  text-decoration: none;
}

/* dark */
.layout.dark .list,
.layout.dark .grid {
  background: #2b2f33;
  border-color: #2b2f33;
}
.layout.dark .active {
  /* background: #fff; */
  border-color: #f7423d;
}
.layout.dark .list svg,
.layout.dark .grid svg {
  stroke: #fff;
}
.layout.dark .active svg {
  stroke: #f7423d;
}
.layout.dark .add {
  background: #f7423d;
  border-color: #f7423d;
}
