.navbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
header {
  background: #fff;
  flex: 1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}
.hamburger {
  padding: 5px 12px 2px 8px;
  border-radius: 5px;
  margin: 0 15px 0 0;
  background: #fff;
}
.hamburger svg {
  width: 30px;
}
form.search {
  margin-right: auto;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
form.search input {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background: none;
}
.notification,
.searchButton {
  padding: 8px 10px;
  border-radius: 4px;
  display: flex;
  background: none;
}

/* dark */
.navbar.dark input,
.navbar.dark input::placeholder {
  color: #858789;
}
.navbar.dark .hamburger {
  background: #2b2f33;
}
.navbar.dark .notification svg,
.navbar.dark .hamburger svg,
.navbar.dark .searchButton svg {
  stroke: #858789;
}

@media (max-width: 500px) {
  .navbar .avatar {
    width: 35px;
    height: 35px;
  }
  header {
    padding: 5px 5px;
  }
}
