.project__banner {
  min-height: 150px;
  color: #fff;
  padding: 100px 0 0 20px;
  position: relative;
  z-index: 1;
}
.project__banner h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.1rem;
}
.backdrop {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.project__info {
  background: #fff;
  padding: 25px 15px;
  border-radius: 10px;
  margin: 15px 0;
}
.project__info > li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.project__info > li:last-of-type {
  margin: 0;
}
.project__info h5 {
  margin-right: 15px;
  min-width: 105px;
}
.project__info h5 span {
  display: inline-block;
  width: 100px;
}
.project .status {
  text-transform: uppercase;
  font-weight: 600;
}
.project .card__users {
  margin: 0;
  flex-wrap: wrap;
}
.project .card__users li {
  display: flex;
  align-items: center;
  margin: 0 15px 0 0;
  padding: 3px 6px;
  background: #fff;
  border: 1px solid #f7f6f4;
  border-radius: 3px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.project .card__users p {
  margin-left: 5px;
}
.deadline {
  color: #fd413c;
  font-weight: 600;
}

.progress .card__progress {
  width: 100%;
}

/* dark mode */
.project.dark .project__info {
  background: #2b2f33;
}
.project.dark .card__users li {
  background: #212529;
  color: #85878a;
  border-color: #4b5563;
}
.project.dark .progress__bar {
  background: #3e4246;
}

@media (max-width: 550px) {
  .project__info h5 {
    margin-right: 10px;
    min-width: 80px;
  }
  .project__info h5 span {
    display: inline;
  }
  .project__info li.user__list,
  .project__info li.progress {
    display: block;
  }
  .project__info li.user__list h5,
  .project__info li.progress h5 {
    margin-bottom: 10px;
  }
}
