.project-redirect a {
  color: #fd7b38;
  text-decoration: none;
}
.projects__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}
.projects__head h3 {
  font-size: 1.1rem;
}
.projects__head span {
  flex: 1;
  margin-left: 8px;
  color: #a0a3b0;
}
.projects__name {
  margin: 10px 0 5px;
}
.projects__name h2 {
  color: #303648;
  line-height: 1.2;
  font-size: 1.1rem;
}
.projects__details {
  color: #a0a3b0;
}
.projects .card__category {
  margin: 5px 0 10px;
}
.card__info {
  display: flex;
  align-items: center;
  color: #a0a3b0;
}
.card__info i {
  margin-left: 5px;
}
.card__info .fi-rr-paperclip-vertical {
  margin: 0 10px 0 0;
}

/* dark mode */
.projects.dark .card__info small {
  color: #a0a3b0;
}
.project-redirect.dark a {
  color: #fd413c;
}
