.form__auth {
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  padding: 50px;
  border-radius: 15px;
}
.form__auth h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.form__text {
  font-size: 1rem;
  margin-bottom: 30px;
  font-weight: 500;
}
.input__field {
  background: #f7f6f4;
  border: none;
  border-radius: 6px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 8px;
}
.input__field:focus {
  border: 1px solid #dbdce0;
}
.input__field input,
.input__field textarea {
  outline: none;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  color: #abafb5;
  font-size: 15px;
}
.input__field input::placeholder,
.input__field textarea::placeholder,
.input__field span {
  color: #abafb5;
}
.input__field.file {
  cursor: pointer;
  /* justify-content: start; */
}
.input__icon {
  background: #fd7b38;
  padding: 6px 8px 0 8px;
  border-radius: 5px;
  margin-right: 10px;
}
.input__field svg {
  stroke: #fff;
}
.thumbnail {
  width: 60px;
}
.account a {
  text-decoration: none;
}
