.App {
  color: #4e5157;
  background: #f7f6f4;
  min-height: 100vh;
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
  padding: 20px;
  gap: 30px;
  display: flex;
}
.App.dark {
  background: #212529;
  color: #fff;
}
.content {
  width: 100%;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}
header,
.sidebar {
  background: #fff;
  border-radius: 0.5rem;
}
.btn {
  background: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  color: #fd7b38;
  cursor: pointer;
  font-size: 1em;
  border: 2px solid #fd7b38;
}
.btn:focus,
.account a:focus {
  outline: 2px solid #fd7b38;
}
.btn.dark {
  background: #2b2f33;
  color: #fd413c;
  border: 2px solid #fd413c;
}
.btn.dark:focus,
.account.dark a:focus {
  outline: 2px solid #fd413c;
}
.btn:hover {
  color: #fff;
  background-color: #fd7b38;
}
.btn.dark:hover {
  color: #fff;
  background-color: #fd413c;
}
.account {
  margin-top: 30px;
}
.account p {
  border-bottom: 1px solid #e3e4e4;
  padding-bottom: 3px;
  margin-bottom: 10px;
}
.account a {
  color: #fd7b38;
}
.account.dark p {
  border-bottom: 1px solid #5f6365;
}
.account.dark a {
  color: #fd413c;
}

/* dark mode */
.App.dark header,
.App.dark .sidebar {
  background: #2b2f33;
  color: #85878a;
}
.App.dark .account a {
  color: #fd413c;
}

/* media query */
@media (max-width: 1200px) {
  .App {
    gap: 15px;
  }
}
@media (max-width: 1100px) {
  .App {
    padding: 10px;
  }
  .header,
  .sidebar {
    border-radius: 0;
  }
  .content {
    margin-right: 15px;
  }
}
@media (max-width: 500px) {
  .App {
    gap: 0;
  }
  .content {
    margin: 0;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
}
