@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.msg,
.status {
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  display: inline-block;
  border: 2px solid #fff;
}

.error {
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  color: red;
  margin: 10px 0;
  padding: 8px;
}
/* .high {
  color: #f7423d;
  background: #fff3ea;
  border-color: #f7423d;
} */
.high {
  color: #ff7782;
  /* background: #fff3ea; */
  border-color: #ff7782;
}
.success,
.completed {
  color: #60b158;
  background: #e7f4e6;
  border-color: #60b158;
}
.warning {
  color: #fd8b51;
  background: #fff3ea;
  border-color: transparent;
}
.medium {
  color: #45bfff;
  /* background: #fff3ea; */
  border-color: #45bfff;
}
.low {
  color: #717eee;
  /* background: #f5ecf2; */
  border-color: #717eee;
}
.high,
.medium,
.low {
  background: none;
  padding: 4px 12px;
}
.progress_select {
  padding: 4px 12px;
  /* color: #7078ba;
  background: #d7dbfd;
  border-color: #d7dbfd; */
  color: #9a9dac;
  background: #f1f2f4;
  border-color: #f1f2f4;
}
.completed {
  border-color: #e7f4e6;
  padding: 5px 12px;
}
.w-6 {
  width: 23px;
}
.w-4 {
  width: 17px;
}
/* authentication form */
.form__auth {
  max-width: 500px;
  margin: 30px auto;
  background: #fff;
  padding: 50px;
  border-radius: 15px;
}
.form__auth h2 {
  font-size: 2.5rem;
}
.form__text {
  font-size: 1rem;
  margin-bottom: 30px;
  font-weight: 500;
}
.input__field {
  background: #f7f6f4;
  border: none;
  border-radius: 6px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 8px;
}
.input__field:focus {
  border: 1px solid #dbdce0;
}
.input__field input,
.input__field textarea {
  outline: none;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  color: #abafb5;
  font-size: 15px;
}
.input__field input::placeholder,
.input__field textarea::placeholder,
.input__field span {
  color: #abafb5;
}
.input__field.file {
  cursor: pointer;
}
.input__icon {
  background: #fd7b38;
  padding: 6px 8px 0 8px;
  border-radius: 5px;
  margin-right: 10px;
}
.input__field svg {
  stroke: #fff;
}
.thumbnail {
  width: 60px;
}
.account a {
  text-decoration: none;
}

/* dark mode */
.success.dark,
.completed.dark {
  color: #fff;
  background: #60b158;
  border-color: #60b158;
}
.card__status.dark .high {
  color: #fd413c;
  border-color: #fd413c;
}
.card__status.dark .medium {
  color: #45bfff;
  border-color: #45bfff;
}
.card__status.dark .progress_select {
  color: #b9b9bb;
  background: #404347;
  border-color: #404347;
}
.warning.dark {
  color: #fd413c;
  background: #403034;
}

/* authentication form */
.form__auth.dark {
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #2b2f33;
  color: #e3e4e4;
}
.form__auth.dark .input__field {
  background: #212529;
  color: #e3e4e4;
}
.form__auth.dark .input__icon {
  background: #fd413c;
}

/* mobile viewport */
@media (max-width: 500px) {
  .form__auth {
    padding: 15px;
  }
}
