.tasks {
  color: #444858;
  stroke: #444858;
  text-decoration: none;
}
.tasks a {
  color: #444858;
  text-decoration: none;
}
.tasks a:hover {
  background: #f7f6f4;
}
.tasks .h3 {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #f3f3f3;
  box-shadow: 0 1em 3em rgba(156, 136, 255, 0.2);
  margin-top: 10px;
  text-transform: uppercase;
  border-radius: 3px 3px 0 0;
  font-size: 1rem;
}
.tasks .h3 span {
  color: #9c9fad;
  font-weight: 600;
  margin-left: 10px;
}
.thead {
  color: #9c9fad;
  font-weight: 600;
  border-radius: 10px;
}
.thead,
.td {
  display: grid;
  grid-template-columns: 3.5fr 1.5fr 0.9fr 0.8fr;
  box-shadow: 0 1em 3em rgba(156, 136, 255, 0.2);
  background: #fff;
}
.thead > div,
.td > * {
  border-right: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  padding: 5px 0 5px 15px;
}
.thead > div {
  padding: 15px;
}
.thead > div:last-of-type {
  border-right-color: transparent;
}
.task__name {
  border-left: 4px solid #9c9fad;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.tasks svg {
  margin: 0 15px 0 10px;
}
svg.checked {
  fill: #60b158;
  stroke: #fff;
}
.task__tag {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #f7f6f4;
  border-radius: 5px;
  margin-right: 5px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.ae {
  border-color: #9999ff;
  color: #9999ff;
}
.bootstrap,
.php,
.scss {
  border-color: #a259ff;
  color: #a259ff;
}
.corel,
.node,
.vue {
  color: #0acf83;
  border-color: #0acf83;
}
.css,
.figma,
.flutter,
.fb,
.native,
.react,
.tailwind {
  color: #1abcfe;
  border-color: #1abcfe;
}
.html,
.google,
.laravel {
  color: #f25d50;
  border-color: #f25d50;
}
.firebase,
.sketch {
  border-color: #f5820d;
  color: #f5820d;
}
.id,
.iv {
  color: #ff3366;
  border-color: #ff3366;
}
.illustrator {
  color: #ff9a00;
  border-color: #ff9a00;
}
.photoshop {
  color: #31a8ff;
  border-color: #31a8ff;
}
.javascript,
.python {
  color: #fcde00;
  border-color: #fcde00;
}
.xd {
  color: #ff61f6;
  border-color: #ff61f6;
}
.tasks ul {
  display: flex;
  align-items: center;
}
.tasks .avatar {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.task__user {
  text-transform: capitalize;
  margin-right: 5px;
}
.task__user,
.task__duedate {
  display: flex;
  align-items: center;
}

/* dark mode */
.tasks.dark,
.tasks.dark .td {
  color: #abadae;
  stroke: #abadae;
}
.tasks.dark .h3,
.tasks.dark .thead,
.tasks.dark .td {
  background: #2b2f33;
  box-shadow: none;
}
.tasks.dark .thead > div,
.tasks.dark .td > *,
.tasks.dark .h3 {
  border-color: #32363b;
}

/* media query */
@media (max-width: 1200px) {
  .tasks a,
  .tasks .h3 {
    margin-bottom: 10px;
  }
  .thead {
    display: none;
  }
  .td {
    grid-template-columns: 1fr;
  }
  .td > div:first-of-type {
    width: 100%;
  }
}
